/**
 * CSS files with the .module.css extension are supported as CSS Modules.
 * This convention is recommended for component-level styles.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://picsum.photos/1200/800');
  background-size: cover;
  background-position: center; */
  background-color: #00BFFF; /* Bright blue */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
